<div id="<%= dom_id tweet %>">

  <%= link_to tweet_path(tweet) do %>

    <figure>
      <% if tweet.user.avatar.attached? %>
        <%= image_tag tweet.user.avatar, size: "100x100" %>
      <% else %>
        <%= image_tag "not_found.png", size: "100x100" %>
      <% end %>
    </figure>

    <span>
      <%= link_to tweet.user.name, user_path(tweet.user.username), class: "text-decoration-none" %>
    </span>

    <span>@<%= link_to tweet.user.username, user_path(tweet.user.username), class: "text-decoration-none" %></span>
    <span><%= time_ago_in_words(tweet.created_at).gsub("about", "")%> ago</span>

    <p><%= link_to tweet.body,  tweet_path(tweet), class: "text-decoration-none " %></p>

  <% end %>

  <div>
    <%= link_to tweet_path(tweet.replies) do %>
      <%= image_tag "coments.png" %>
      <%= tweet.replies_count %>
    <% end %>
    <%= link_to user_path(tweet.user) do %>
      <span><%= image_tag "likes.png" %><span><%= tweet.likes_count %></span></span>
    <% end %>
  </div>  

  <%# <p> %>
    <%# <strong>comments:</strong> %>
    <%# <%= tweet.replied_to_id %>
  <%# </p> %>
</div>
