<p class="color-primary_400"><%= notice %></p>

<h1>Home</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= link_to tweet do %>
    <%= render tweet %>
      <%# <%= link_to "Show this tweet", tweet %>
    <%end%>
  <% end %>
</div>

<%# <%= link_to "New tweet", new_tweet_path %> 
