<p class="color-primary_400"><%= notice %></p>

<%= render @tweet %>

<div id="tweets">
<%if @tweet.replies_count > 0 %>
<p>Replies:</p>
 <% @replies.each do |tweet| %>
    <%= render tweet %>
      <%# <%= link_to "Show this tweet", tweet %>
  <% end %>
<%end%>
</div>

<div class= "footer__content">
  <%= link_to "Edit this tweet", edit_tweet_path(@tweet), class: "button button--primary button--sm text-decoration-none ml-4 width-100px" %>
  <%= link_to "Back to tweets", tweets_path, class: "button button--primary button--sm text-decoration-none ml-4 width-100px" %>

  <%= button_to "Destroy this tweet", @tweet, method: :delete%>
</div>
