<div id="<%= dom_id user %>">

<%# <h1>TES TES TES TES TEST</h1> %>
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <% if user.avatar.attached? %>
      <%= user.image_tag user.avatar %>
    <% else %>
      <%= image_tag "not_found.png", size: "100x100" %>
    <% end %>

</div>
