<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
      <header class="header">
      <div class="container-lg" >
        <nav class="navbar" >
          <input type="checkbox" id="menu-mobile">

          <a
              href="<%= root_path %>"
            class="navbar__logo heading-md semibold text-decoration-none"
            >
          <%# <%=link_to "", root_path,class: "navbar__logo heading-md semibold text-decoration-none" %>
        
            <p>{<span class="color-primary_400">Tweet</span>able}</p>

            <label for="menu-mobile" id="toggle-close">
               <%= image_tag "close.png" %>
            </label>
  
            <label for="menu-mobile" id="toggle-open">
              <%# <i class="ri-menu-fill ri-sm"></i> %>
              <%= image_tag "burger.png" %>
            </label>
          </a>

          <ul class="navbar__links list-style-none expandable">
            <li>
              <%# <a href="Article.html" class="link text-md semibold">Articles</a> %>
              <%=link_to "Log in", new_user_session_path,class: "link text-md semibold" %>
            </li>
            <li>
              <%# <a href="./portfolio.html" class="link text-md semibold">Portfolio</a> %>
              <%=link_to "Sig up", new_user_registration_path, class: "link text-md semibold"%>
            </li>
            <li>
              <%# <a href="./About.html" class="link text-md semibold">About</a> %>
              <%=link_to "Log out", destroy_user_session_path, class: "link text-md semibold",data: {turbo_method: :delete}%>

            </li>
            <li>
              <a
                href="./Contactme.html"
                class="button button--primary button--sm text-decoration-none ml-4"
                >Contac me</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

  <body>
  <section class= "container-md">
    <%= yield %>

    <p class="notice"><%=notice %></p>
    <p class="alert"><%=alert %></p>
  <section>
  </body>
</html>
