<!DOCTYPE html>
<html>
  <head>
  <%= csrf_meta_tags %>

    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
      <header class="header">
      <div class="container-lg" >
        <nav class="navbar" >
          <input type="checkbox" id="menu-mobile">

          <a
              href="<%= root_path %>"
            class="navbar__logo heading-md semibold text-decoration-none"
            >        
            <p class= "">{<span class="color-primary_400">Tweet</span>able}</p>

            <label for="menu-mobile" id="toggle-close">
               <%= image_tag "close.png" %>
            </label>
  
            <label for="menu-mobile" id="toggle-open">
              <%= image_tag "burger.png" %>
            </label>
          </a>

          <ul class="navbar__links list-style-none expandable">
            
            <%if user_signed_in?%>
              <li>
              <%=link_to "Profile", user_path(current_user.username), class: "link text-md semibold"%>
            </li>
            <li>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "button button--primary button--sm text-decoration-none ml-4", data: { turbo: false } %>
            </li>
              <%else%>
            <li>
              <%=link_to "Sig up", new_user_registration_path, class: "link text-md semibold"%>
            </li>
            <li>
              <a
                href="<%= new_user_session_path %>"
                class="button button--primary button--sm text-decoration-none ml-4"
                >Log in</a>
            </li>
              <%end%>

          </ul>
        </nav>
      </div>
    </header>

  <body>
  <section class= "container-md">
    <%= yield %>

    <p class="notice"><%=notice %></p>
    <p class="alert"><%=alert %></p>
  <section>
  </body>
</html>
